body{
    background-color: #E8E8E8;
    font-family: 'Exo 2',sans-serif;
}

::selection {
  background: #e67e22;
}

#header .hotel {
    background: url(/templates/Mundo/style/images/header_hotel.png)  no-repeat 0 -50px;
     height: 250px;
     position: absolute;
     width: 100%;
     right: -72.5%;
     opacity: .6;
     bottom:0;
}

.onlinecount {
    position: relative;
    background: rgba(0, 0, 0, 0.41);
    border-radius: 5px;
    width: 196px;
    text-align: center;
    color: white;
    height: 23px;
    height: 23px;
    line-height: 23px;
}

.waardeLijst {
    position: relative;
    top: 50%;
}
.no-margin{
    margin: -10px;
}
#header{
    height: 240px;
    position: relative;

}
#header .leftview{
     background: url(/templates/Mundo/style/images/header_links.png) no-repeat 0 -50px;
     height: 250px;
     position: absolute;
     width: 100%;
     bottom:0;

}
#header .clouds{
    background: url(/images/clouds_big.png) fixed;
    position: absolute;
    width: 100%;
    height: 210px;
}
#header .online-box{
   position: relative;
width: 150px;
height: 40px;
padding: 10px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3px;
text-align: center;
margin-left: 220px;
margin-top: -50px;
box-shadow: 0 3px 0 0 rgba(0,0,0,0.2);
}
#header .online-box:after {
 content: '';
position: absolute;
border-style: solid;
border-width: 8px 8px 8px 0;
border-color: transparent #FFFFFF;

display: block;
width: 0;
z-index: 1;
left: -8px;
top: 12px;
}
#header .logo{
    position: relative;
    background: url(/templates/Mundo/style/images/logo_Mundo.png);
    width: 196px;
    height: 78px;
    z-index: 1000;
    margin-top: 70px;

}
.friendlist {
    display: inline-block;
    position: relative;
    color: #FFF;
    width: 100%;
    height: 103px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 15px;
}

.friendlist p.no-friends {
    padding: 13px;
    margin: 0;
    top: 4px;
    position: relative;
    min-height: 70px;
    width: 80%;
    float: right;
    font-size: 12px;
}
.friendlist .img {
	float: left;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    margin-top: 17px;
}

.friendlist .friend_1{
	background: #EF233B;
	margin-bottom: 10px;
	border-radius: 4px;	
}

.friendlist .friend_2{
	background: #EFA823;
	margin-bottom: 10px;
	border-radius: 4px;
}
.friendlist .friend_3{
	background: #161616;
	border-radius: 4px;	
}
.friendlist .friend_head{
	height: 55px;
	width: 55px;
}
.friendlist .friend_online{
	float: right;
    background: rgba(0,0,0,0.50);
    color: white;
    padding: 6px;
    border-radius: 7px;
    position: absolute;
    right: 10px;
    top: 10px;
    margin-right: 10px;
    font-size: 13px;
}
.friendlist .circle_friend{
	background: radial-gradient(rgba(255,255,255,0.5),#FFF);
	border-radius: 100%;
	margin: 5px;
	border: 2px rgba(0,0,0,0.1) solid;
}
.numRows_friend {
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px 13px;
    border-radius: 0px 0px 4px 4px;
    font-size: 10px;
}
.simpleFriends_alert{
	background: radial-gradient(#F50F0F,#E12727);
	color: #FFF;
	padding: 10px;
	border-radius: 8px;
	border: 2px rgba(0,0,0,0.3) solid;
	margin-bottom: 10px;
	font-size: 14px;
}
.simpleFriends_alert a{
	text-decoration: underline;
	color: #CECECE;
}
.simpleFriends_alert a:hover{
	text-decoration: underline;
	color: #FFF;
}
.friendlist .friend_icon{
	
	padding: 5px;
}

.navbar-default {
    margin-top: -20px;
    border: none;
    border-radius: 0px;

    -webkit-box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.4), 0 3px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.4), 0 3px 0 0 rgba(0, 0, 0, 0.4);
    padding: 4px; /*6px*/
    font-size: 17px;
    font-family: Open Sans;
    font-weight: 600;
}
.me-bar{
    background-image: url(https://leet.ws/web/img/myleet/room.png);
    background-color: #30373C;
    position: relative;
    padding: 0px;
    padding-top: 20px;
    border-radius:3px 3px 0 0;
}
.user-img{
    width: 100px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center -30px;
    margin: auto;
}
.user-tab{
    float:left;
    width: 20%;
}
.name-tab{
    float: left;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    width: 45%;
}
.button-tab{
    float:left;
    width: 20%;
    padding-top: 30px;
}
.button-tab .btn{
    font-size: 18px;
    padding: 20px 37px;
    
}

.name-tab ul{
    text-decoration: none;
    list-style: none;
}
.name-tab h2{
   padding: 0;
   margin: 0 ;
}
.badge{
    padding: 4px;
    width: 30px;
    height: 30px;
}

.radio-body{
    background: url(/templates/Mundo/style/images/dj_bg.png) center center;
    height: 193px;
    border-radius: 3px;
    padding: 10px;
    position: relative;
}
.radio-bubble{
    margin-top: 15px;
    position: relative;
    background: #FFF;
    width: 210px;
    height: 142px;
    border: 1px solid #000;
    border-radius: 3px;

    box-shadow: 0 3px 1px 1px rgba(0,0,0,0.5);
    padding: 10px;
}
.radio-bubble .radio-song{
    margin-left: 4px;
    padding: 1px;
    vertical-align: middle;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
.radio-bubble .well{
    margin-bottom: 4px;
    vertical-align: middle;
}
.radio-bubble .radio-logo{
    font-size: 20px;
    background: rgba(0,0,0,0.1);
    margin: -10px;
    padding: 13px 10px;
    font-weight: 100;

}
.deejay{
    background-repeat: no-repeat;
    background-position: center 0 ;
    position: absolute;
    width: 80px;
    height: 120px;
    bottom:0;
    right:10px;
}

.topgroups {
    padding: 8px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.21);
}

.news-panel{
    position: relative;
}
.news-panel .news-image{
    height: 300px;
    width: 100%;

    background-position: center center;
    border-radius: 3px;

}
.news-panel .news-info{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.news-panel .news-colum{
    position: absolute;
    width: 100%;
    padding: 30px;
    font-weight: 100;

}
.news-panel .news-title{
    text-shadow: 0;
    font-size: 35px;
    color: #FFF;
    max-width: 300px;
}
.news-panel .news-shortstory{
    color: #FFF;
    text-shadow: 0;
    font-size: 17px;
    font-style: italic;

}
.staff .staffbox{
    width: 48.4%;
    height: 70px;
    margin-left: 10px;
    min-height: 40px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-bottom: 10px;
    float:left;
    position: relative;

}
.staff .staffbox .staff-img{
    width: 70px;
    height: 70px;
    background-position: center -10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    float: left;
}
.staff .staffbox .staff-content{
    color: #000;
    float: left;
    margin: 5px;
}
.author-news{
    width: 70px;
    height: 70px;
    position: absolute;
    right:0;
    bottom:-1px;
    background-position: center -15px;

}
.reactieBox{
    background: rgba(0,0,0,0.2);
    margin-top: 5px;
    position: relative;
    border-radius: 3px;

}
.reactieBox .reactieNaam{
    color: #FFF;
    margin-left: 60px;

}
.reactieBox .reactieDelete{
    position: absolute;
    right:5px;
    top:5px;
}
.reactieBox .newscolumndate{
    margin-left: 60px;
    margin-top:-5px;
    color:#FFF;
}
.reactieBox .newscolumnmessage{
    margin-left: 60px;
    color:#FFF;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 3px 0px 0px 0px;
}
.reactieBox #reactieLook{
    position: absolute;
    bottom:0;
    left:0;
    height: 65px;
    width: 60px;
    background-position: center -10px;
}
.jumbotron.vacature{
    background: url('/templates/Mundo/style/images/bg_pattern_space.gif');
}
.thumbnail.vacature{
    padding:0;
    position: relative;
}
.jumbotron.vacature p{
    color: #FFF;
}
.thumbnail.vacature h4{
    color: #000;
}
.thumbnail-text{
    background: #BF7F3F;
    width: 100%;
    height: 80px;
    color:#FFF;
    position: relative;
}
.thumbnail-text .title{
    position: absolute;
    padding: 3px;
    top:14px;
    left: 10px;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}
.thumbnail-text .vaccount{
    position: absolute;
    bottom:10px;
    left: 10px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 3px;
    font-size: 13px;
}
.begeleider{

    width: 60px;
    height: 80px;
    position: absolute;
    right:0;
}
.user-top-info .userHome{
    background: url(/images/userhome/web_view_bg_cn3.gif) center center;
    width: 120px;
    height: 120px;
    border-radius: 4px;
    float:left;
    margin-right: 10px;
    position: relative;
    border: 2px rgba(1,1,1,0.3) solid;
}
.user-top-info .userHome .userHead{
    width: 120px;
    height: 120px;
    background-position: center -30px;
    margin: -2px;
}
.user-top-info{
    margin-bottom: 10px;
    max-height: 120px!important;
    overflow: hidden;
}
.user-top-info .user-top-info-box{
    max-height: 120px!important;
    overflow: auto;
}
.user-top-info .userInfo{


}
.user-top-info .edit{
    background-image: url(/templates/Mundo/style/images/icons/v22_4.gif);
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
    border-radius: 2px;
    background-position: center center;

    width: 20px;
    height:20px;
    position: absolute;
   top:2px;
   right:2px;
   box-shadow: 0 2px 0 1px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.4s all;
}
.user-top-info .edit:hover{
    background-color: rgba(255,255,255,0.9);
}
.user-top-info .userInfo .name{
    font-size: 160%;
}
.user-top-info .userInfo .motto{
       position: absolute;
width: 170px;

padding: 10px;
background: #FFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 3px;
margin-left: 110px;
margin-top: 10px;

box-shadow: 0 3px 0 0 rgba(0,0,0,0.2);
}
.user-top-info .userInfo .motto:after{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 8px 8px 0;
border-color: transparent #FFF;

display: block;
width: 0;
z-index: 1;
left: -8px;
top: 12px;
}
.user-top-info .online-button{
    background: url(/templates/Mundo/style/images/offline.gif) no-repeat center center;
    width: 40px;
    height: 16px;
    position: absolute;
    bottom:0;
    right: 0;
}
.user-top-info .online-button.online{
    background: url(/templates/Mundo/style/images/online.gif) no-repeat center center;
}

.user-top-info-box::-webkit-scrollbar {
    width: 8px;
}
.user-top-info-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #BFBFBF;
}
.photo-slideshow{
    border: 2px rgba(0,0,0,0.5) solid;
    width: 320px;
    border-radius: 4px;
}
.photo-slideshow .photo{
    width: 320px;
    height: 320px;
    background-position: center center;
    border-radius: 1px;
}
.photo-slideshow .desc{
    position: absolute;
    color: #FFF;
    top: 5px;
    left:5px;
}
.gastenboek .gastenboek-berichten{
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;
}
.gastenboek .gastenboek-berichten::-webkit-scrollbar {
    width: 8px;
}
.gastenboek .gastenboek-berichten::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #BFBFBF;
}
.gastenboek .gastenboek-berichten .gastenboek-bericht{
    position: relative;
}
.gastenboek .gastenboek-berichten .gastenboek-bericht .reactie-info{
    height: 60px;
    margin-bottom: 10px;
}
.gastenboek .gastenboek-berichten .gastenboek-bericht.staff .reactie-info .author-head{
     width: 60px;
    height: 60px;
    background-position: center -10px;
    background-color:#ffa31a;
    border-radius: 10px;
    float:left;
    margin-right: 10px;
}
.gastenboek .gastenboek-berichten .gastenboek-bericht .reactie-info .author-head{
    width: 60px;
    height: 60px;
    background-position: center -10px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    float:left;
    margin-right: 10px;
}
.gastenboek .gastenboek-berichten .gastenboek-bericht .reactie-info .author-name{

}
.right{
    float:right;
}
.gastenboek.right{
    position: absolute;
    top:10px;
    right:10px;
}
